<div class="container">
  <header class="jumbotron">
    <h3>
    Welcome To Inventorious 
  </h3>
  </header>

  <mat-card>
    <p>LOGIN : As application starts the login page appears. Admin login is determined by the username and password that has all the authority to add, update and delete the stock of the organization as per the requirement. With each new login a token is generated to grant the user authority to access all the features of the application.
    </p>
  </mat-card>

  <mat-card>
    <p>
      Sign up : For the first time users, a user have to fill in the details like name, username, address, email, date of birth, contact number, and have to set an password for the future login. Email and username are unique parameter, which should be unique in the database if not then the user will not be registered on the application.
    </p>
  </mat-card>

  <mat-card>
    <p>
      PRODUCTS : The product page is available after the login this page displays all the available products in the inventory with its details like brand name , quantity ,buying price and selling price . This page provides the facility to edit or delete any product at any particular time.
    </p>
  </mat-card>

  <mat-card>
    <p>SUPPLIERS : The supplier page provides the details of the suppliers of the products that are to be needed in inventory. The supplier details include supplier name, contact number, address of the supplier and the city in which supplier is situated.
    </p>
  </mat-card>

  <mat-card>
    <p>
      ORDERS : The order page displays a form to fill the order details and place it in arriving section .the order details are the order name which can be choosed from the products that are already present in the inventory, a quantity for the order, and the date to which order is needed and the buying price of the product, and a selection of supplier from which the order is to be placed.
    </p>
  </mat-card>


</div>